body {
  background-color: #282c34;
  color: gray
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dt-jumbotron {
  color: white;
  max-height: 320px;

  padding: 2rem 2rem;

}

.actionDescription {
  color: white;
}

ul.movie-list,
ul.trailer-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
}

ul.movie-list li.movie {
  display: block;
  padding: 20px;
  width: 150px;
  margin: 10px 0 0 1%;
  flex-grow: 1;
}

ul.trailer-list li.trailer {
  display: block;
  padding: 20px;
  flex-grow: 1;
  margin-bottom: 20px;
}

ul.movie-list li.movie img {
  max-height: 300px;
  min-height: 220px;
  height: 240px;
}

ul.movie-list li.movie h3 {
  color: white;
}

.trailers-content .actionDescription {
  color: gray;
}

.trailers-content-title {
  color: black;
}

.trailers-content .trailers {
  text-align: center;
}

ul.trailer-list li.trailer img {
  width: 100%;
  margin-bottom: 20px;
}

.video-wrapper {
  height: 100%;
  width: 100%;
  min-height: 500px;
}

.video-wrapper>div {
  margin-bottom: 30px;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
  border: solid 3px black 
}